<h3>
	{{tituloGrupoPreguntaList}}
</h3>

<div *ngIf="!grupoPreguntaList">
	Cargando listado de Grupo de Pregunta...
</div>
<br>
<div *ngIf="grupoPreguntaList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/grupoPreguntaAdd', grupo.GRUPO ]">Insertar</button>
		<button type="button" class="btn btn-md btn-danger" [routerLink]="['/grupoList']">Cancelar</button>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">PREGUNTA</th>
					<th scope="col">ORDEN</th>
					<th scope="col">ESTADO</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let grupoPregunta of grupoPreguntaList">
		    <tr>
		      <td>{{ grupoPregunta.CODIGO_GRUPO_PREGUNTA}}</td>
					<td>{{ grupoPregunta.DESCRIPCION_PREGUNTA}}</td>
					<td>{{ grupoPregunta.ORDEN_GRUPO_PREGUNTA}}</td>
					<td>{{ grupoPregunta.ESTADO_GRUPO_PREGUNTA}}</td>
		      <td>
							<div *ngIf="confirmado != grupoPregunta.GRUPO_PREGUNTA">
								<a [routerLink]="['/grupoPreguntaEdit', grupoPregunta.GRUPO_PREGUNTA, grupo.DESCRIPCION]" class="btn btn-md btn-success"> Editar</a>
								<a (click)="borrarConfirmado(grupoPregunta.GRUPO_PREGUNTA)" class="btn btn-md btn-danger"> Eliminar</a>
							</div>
							<div *ngIf="confirmado == grupoPregunta.GRUPO_PREGUNTA">
								<a (click)='grupoPreguntaDelete(grupoPregunta.GRUPO_PREGUNTA)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
