<h3>
	{{tituloLocalidadAdd}}
</h3>

<form #formLocalidad="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-localidad">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="localidad.CODIGO" class="form-control" required />

  <label>
		Descripción
		<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="localidad.DESCRIPCION" class="form-control" required />

  <br/>
	<input type="submit" value="Guardar" [disabled]="!formLocalidad.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/localidadCiudadList', localidad.CIUDAD]">Cancelar</button>


</form>
