<h3>
	{{tituloTipoParametroList}}
</h3>

<div *ngIf="!tipoParametroList">
	Cargando listado de Tipo de Parametro...
</div>
<br>
<div *ngIf="tipoParametroList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/tipoParametroAdd']">Insertar</button>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">DESCRIPCIÓN</th>
					<th scope="col">OBSERVACIÓN</th>
					<th scope="col">ESTADO</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let tipoParametro of tipoParametroList">
		    <tr>
		      <td>{{ tipoParametro.CODIGO}}</td>
					<td>{{ tipoParametro.DESCRIPCION}}</td>
					<td>{{ tipoParametro.OBSERVACION}}</td>
					<td>{{ tipoParametro.ESTADO}}</td>
		      <td>
							<div *ngIf="confirmado != tipoParametro.TIPO_PARAMETRO">
								<a [routerLink]="['/tipoParametroEdit', tipoParametro.TIPO_PARAMETRO]" class="btn btn-md btn-success"> Editar</a>
								<a [routerLink]="['/parametroIdTipoParametroList', tipoParametro.TIPO_PARAMETRO]" class="btn btn-md btn-warning"> Parametros</a>
								<a (click)="borrarConfirmado(tipoParametro.TIPO_PARAMETRO)" class="btn btn-md btn-danger"> Eliminar</a>
							</div>
							<div *ngIf="confirmado == tipoParametro.TIPO_PARAMETRO">
								<a (click)='tipoParametroDelete(tipoParametro.TIPO_PARAMETRO)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
