<h3>
	{{tituloCuestionarioList}}
</h3>

<div *ngIf="!cuestionarioList">
	Cargando listado de Cuestionarios...
</div>
<br>
<div *ngIf="cuestionarioList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/cuestionarioAdd']">Insertar</button>
		<div class="right">
			<button type="button" class="btn btn-primary" [routerLink]="['/grupoList']">Grupos</button>
			<button type="button" class="btn btn-primary" [routerLink]="['/preguntaList']">Preguntas</button>
		</div>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">DESCRIPCIÓN</th>
					<th scope="col">OBSERVACIÓN</th>
          <th scope="col">ESTADO</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let cuestionario of cuestionarioList">
		    <tr>
		      <td>{{ cuestionario.CODIGO_CUESTIONARIO}}</td>
					<td>{{ cuestionario.DESCRIPCION_CUESTIONARIO}}</td>
					<td>{{ cuestionario.OBSERVACION_CUESTIONARIO}}</td>
          <td>{{ cuestionario.ESTADO_CUESTIONARIO}}</td>
		      <td>
							<div *ngIf="confirmado != cuestionario.CUESTIONARIO">
								<a [routerLink]="['/cuestionarioEdit', cuestionario.CUESTIONARIO]" class="btn btn-md btn-success">Editar</a>
								<a [routerLink]="['/cuestionarioGrupoIdCuestionarioList', cuestionario.CUESTIONARIO]" class="btn btn-md btn-warning">Grupos</a>
								<a [routerLink]="['/cuestionarioCodigoCuestionarioList', cuestionario.CODIGO_CUESTIONARIO]" class="btn btn-md btn-warning">Ver Formulario</a>
								<a (click)="borrarConfirmado(cuestionario.CUESTIONARIO)" class="btn btn-md btn-danger">Eliminar</a>
							</div>
							<div *ngIf="confirmado == cuestionario.CUESTIONARIO">
								<a (click)='cuestionarioDelete(cuestionario.CUESTIONARIO)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
