<h3>
	{{tituloCiudadAdd}}
</h3>

<form #formCiudad="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-ciudad">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="ciudad.CODIGO" class="form-control" required />

  <label>
		Descripción
		<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="ciudad.DESCRIPCION" class="form-control" required />

  <br/>
	<input type="submit" value="Guardar" [disabled]="!formCiudad.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/ciudadDepartamentoList', ciudad.DEPARTAMENTO]">Cancelar</button>


</form>
