<h3>
	{{ tituloPreguntaAdd }}
</h3>

<form #formPregunta="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-pregunta">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="pregunta.CODIGO" class="form-control text-uppercase" required />

	<label>
		Descripción
		<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="pregunta.DESCRIPCION" class="form-control" required />

  <label>
		Observación
		<span *ngIf="!observacion.valid && observacion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #observacion="ngModel" name="observacion" [(ngModel)]="pregunta.OBSERVACION" class="form-control" required />

  <label>
		Tipo de Respuesta
	</label>
	<select class="form-control" name="selectParamRespuesta" [(ngModel)]="pregunta.PARAM_RESPUESTA">
     <option [ngValue]="null" disabled>--Seleccione--</option>
     <option *ngFor="let parametro of parametroList" [ngValue]="parametro.PARAMETRO">
         {{ parametro.DESCRIPCION }}
     </option>
	</select>

  <br/>
	<input type="submit" value="Guardar" [disabled]="!formPregunta.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/preguntaList']">Cancelar</button>


</form>
