<h3>
	{{tituloGrupoList}}
</h3>

<div *ngIf="!grupoList">
	Cargando listado de Grupos...
</div>
<br>
<div *ngIf="grupoList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/grupoAdd']">Insertar</button>
		<div class="right">
			<button type="button" class="btn btn-primary" [routerLink]="['/cuestionarioList']">Cuestionarios</button>
			<button type="button" class="btn btn-primary" [routerLink]="['/preguntaList']">Preguntas</button>
		</div>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">DESCRIPCIÓN</th>
					<th scope="col">OBSERVACIÓN</th>
          <th scope="col">ESTADO</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let grupo of grupoList">
		    <tr>
		      <td>{{ grupo.CODIGO_GRUPO}}</td>
					<td>{{ grupo.DESCRIPCION_GRUPO}}</td>
					<td>{{ grupo.OBSERVACION_GRUPO}}</td>
          <td>{{ grupo.ESTADO_GRUPO}}</td>
		      <td>
							<div *ngIf="confirmado != grupo.GRUPO">
								<a [routerLink]="['/grupoEdit', grupo.GRUPO]" class="btn btn-md btn-success">Editar</a>
								<a [routerLink]="['/grupoPreguntaIdGrupoList', grupo.GRUPO]" class="btn btn-md btn-warning">Preguntas</a>
								<a (click)="borrarConfirmado(grupo.GRUPO)" class="btn btn-md btn-danger">Eliminar</a>
							</div>
							<div *ngIf="confirmado == grupo.GRUPO">
								<a (click)='grupoDelete(grupo.GRUPO)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
