<h3>
	{{ tituloGrupoAdd }}
</h3>

<form #formGrupo="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-grupo">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="grupo.CODIGO" class="form-control" required />

	<label>
		Descripción
		<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="grupo.DESCRIPCION" class="form-control" required />

  <label>
		Observación
		<span *ngIf="!observacion.valid && observacion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #observacion="ngModel" name="observacion" [(ngModel)]="grupo.OBSERVACION" class="form-control" required />



  <br/>
	<input type="submit" value="Guardar" [disabled]="!formGrupo.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/grupoList']">Cancelar</button>


</form>
