<h3>
	{{ tituloCuestionarioAdd }}
</h3>

<form #formCuestionario="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-cuestionario">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="cuestionario.CODIGO" class="form-control" required />

	<label>
		Descripción
		<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="cuestionario.DESCRIPCION" class="form-control" required />

  <label>
		Observación
		<span *ngIf="!observacion.valid && observacion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #observacion="ngModel" name="observacion" [(ngModel)]="cuestionario.OBSERVACION" class="form-control" required />



  <br/>
	<input type="submit" value="Guardar" [disabled]="!formCuestionario.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/cuestionarioList']">Cancelar</button>


</form>
