<h3>
	{{tituloCuestionarioGrupoList}}
</h3>

<div *ngIf="!cuestionarioGrupoList">
	Cargando listado de Cuestionario de Grupo...
</div>
<br>
<div *ngIf="cuestionarioGrupoList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/cuestionarioGrupoAdd', cuestionario.CUESTIONARIO ]">Insertar</button>
		<button type="button" class="btn btn-md btn-danger" [routerLink]="['/cuestionarioList']">Cancelar</button>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">GRUPO</th>
					<th scope="col">ORDEN</th>
					<th scope="col">ESTADO</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let cuestionarioGrupo of cuestionarioGrupoList">
		    <tr>
		      <td>{{ cuestionarioGrupo.CODIGO_CUESTIONARIO_GRUPO}}</td>
					<td>{{ cuestionarioGrupo.DESCRIPCION_GRUPO}}</td>
					<td>{{ cuestionarioGrupo.ORDEN_CUESTIONARIO_GRUPO}}</td>
					<td>{{ cuestionarioGrupo.ESTADO_CUESTIONARIO_GRUPO}}</td>
		      <td>
							<div *ngIf="confirmado != cuestionarioGrupo.CUESTIONARIO_GRUPO">
								<a [routerLink]="['/cuestionarioGrupoEdit', cuestionarioGrupo.CUESTIONARIO_GRUPO, cuestionario.DESCRIPCION]" class="btn btn-md btn-success"> Editar</a>
								<a (click)="borrarConfirmado(cuestionarioGrupo.CUESTIONARIO_GRUPO)" class="btn btn-md btn-danger"> Eliminar</a>
							</div>
							<div *ngIf="confirmado == cuestionarioGrupo.CUESTIONARIO_GRUPO">
								<a (click)='cuestionarioGrupoDelete(cuestionarioGrupo.CUESTIONARIO_GRUPO)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
