<h3>
	{{tituloPacienteList}}
</h3>

<div *ngIf="!pacienteList">
	Cargando listado de Pacientes...
</div>
<br>
<div *ngIf="pacienteList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/pacienteAdd']">Insertar</button>
		<div class="right">
			<button type="button" class="btn btn-primary" [routerLink]="['/grupoList']">Grupos</button>
			<button type="button" class="btn btn-primary" [routerLink]="['/preguntaList']">Preguntas</button>
		</div>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">TIPO IDENTIFICACIÓN</th>
					<th scope="col">TIPO IDENTIFICACIÓN</th>
					<th scope="col">NÚMERO IDENTIFICACIÓN</th>
          <th scope="col">ESTADO</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let paciente of pacienteList">
		    <tr>
		      <td>{{ paciente.OBSERVACION_PARAM_TIPO_IDENTIFICACION}}</td>
					<td>{{ paciente.DESCRIPCION_PARAM_TIPO_IDENTIFICACION}}</td>
					<td>{{ paciente.NUMERO_IDENTIFICACION_PACIENTE}}</td>
          <td>{{ paciente.ESTADO_PACIENTE}}</td>
		      <td>
							<div *ngIf="confirmado != paciente.PACIENTE">
								<a [routerLink]="['/pacienteEdit', paciente.PACIENTE]" class="btn btn-md btn-success">Editar</a>
								<a [routerLink]="['/pacienteGrupoIdPacienteList', paciente.PACIENTE]" class="btn btn-md btn-warning">Grupos</a>
								<a [routerLink]="['/pacienteCodigoPacienteList', paciente.CODIGO_PACIENTE]" class="btn btn-md btn-warning">Ver Formulario</a>
								<a (click)="borrarConfirmado(paciente.PACIENTE)" class="btn btn-md btn-danger">Eliminar</a>
							</div>
							<div *ngIf="confirmado == paciente.PACIENTE">
								<a (click)='pacienteDelete(paciente.PACIENTE)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
