<h3>
	{{tituloCuestionarioGrupoAdd}}
</h3>

<form #formCuestionarioGrupo="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-cuestionarioGrupo">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="cuestionarioGrupo.CODIGO" class="form-control" required />

  <label>
		Grupo
	</label>
	<select class="form-control" name="selectGrupo" [(ngModel)]="cuestionarioGrupo.GRUPO">
     <option [ngValue]="null" disabled>--Seleccione--</option>
     <option *ngFor="let grupo of grupoList" [ngValue]="grupo.GRUPO">
         {{ grupo.DESCRIPCION_GRUPO }}
     </option>
	</select>

  <label>
		Orden
		<span *ngIf="!orden.valid && orden.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #orden="ngModel" name="orden" [(ngModel)]="cuestionarioGrupo.ORDEN" class="form-control" required />

  <br/>
	<input type="submit" value="Guardar" [disabled]="!formCuestionarioGrupo.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/cuestionarioGrupoIdCuestionarioList', cuestionarioGrupo.CUESTIONARIO]">Cancelar</button>


</form>
