<h3>
	{{tituloDepartamentoList}}
</h3>

<div *ngIf="!departamentoList">
	Cargando listado de Departamento...
</div>
<br>
<div *ngIf="departamentoList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/departamentoAdd', pais.PAIS ]">Insertar</button>
		<button type="button" class="btn btn-md btn-danger" [routerLink]="['/paisList']">Cancelar</button>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">DESCRIPCIÓN</th>
					<th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let departamento of departamentoList">
		    <tr>
		      <th scope="row">{{ departamento.DEPARTAMENTO}}</th>
		      <td>{{ departamento.CODIGO}}</td>
					<td>{{ departamento.DESCRIPCION}}</td>
					<td>
							<div *ngIf="confirmado != departamento.DEPARTAMENTO">
								<a [routerLink]="['/departamentoEdit', departamento.DEPARTAMENTO, pais.DESCRIPCION]" class="btn btn-md btn-success"> Editar</a>
                <a [routerLink]="['/ciudadDepartamentoList', departamento.DEPARTAMENTO]" class="btn btn-md btn-warning">Ciudades</a>
								<a (click)="borrarConfirmado(departamento.DEPARTAMENTO)" class="btn btn-md btn-danger"> Eliminar</a>
							</div>
							<div *ngIf="confirmado == departamento.DEPARTAMENTO">
								<a (click)='departamentoDelete(departamento.DEPARTAMENTO)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
