<h3>
	{{tituloDepartamentoAdd}}
</h3>

<form #formDepartamento="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-departamento">



  <label>
		Código
		<span *ngIf="!codigo.valid && codigo.touched" class="label label-danger"> *Campo obligatorio</span>
	</label>
	<input type="text" #codigo="ngModel" name="codigo" [(ngModel)]="departamento.CODIGO" class="form-control" required />

  <label>
		Descripción
		<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger"> Campo obligatorio</span>
	</label>
	<input type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="departamento.DESCRIPCION" class="form-control" required />

  <br/>
	<input type="submit" value="Guardar" [disabled]="!formDepartamento.form.valid" class="btn btn-success" />


	<button type="button" class="btn btn-danger" [routerLink]="['/departamentoPaisList', departamento.PAIS]">Cancelar</button>


</form>
