<h3>
	{{tituloPaisList}}
</h3>

<div *ngIf="!paisList">
	Cargando listado de Paises...
</div>
<br>
<div *ngIf="paisList">
	<div>
		<button type="button" class="btn btn-primary" [routerLink]="['/paisAdd']">Insertar</button>
	</div>
	<br>
	<div>
		<table class="table table-striped table-success" >
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">CÓDIGO</th>
					<th scope="col">DESCRIPCIÓN</th>
		      <th scope="col">ACCIÓN</th>
		    </tr>
		  </thead>
		  <tbody *ngFor="let pais of paisList">
		    <tr>
		      <th scope="row">{{ pais.PAIS}}</th>
		      <td>{{ pais.CODIGO}}</td>
					<td>{{ pais.DESCRIPCION}}</td>
		      <td>
							<div *ngIf="confirmado != pais.PAIS">
								<a [routerLink]="['/paisEdit', pais.PAIS]" class="btn btn-md btn-success">Editar</a>
								<a [routerLink]="['/departamentoPaisList', pais.PAIS]" class="btn btn-md btn-warning">Departamentos</a>
								<a (click)="borrarConfirmado(pais.PAIS)" class="btn btn-md btn-danger">Eliminar</a>
							</div>
							<div *ngIf="confirmado == pais.PAIS">
								<a (click)='paisDelete(pais.PAIS)' class="btn btn-md btn-danger"> Eliminar</a>
								<a (click)="cancelarConfirmado()"  class="btn btn-md btn-warning"> Cancelar</a>
							</div>
					</td>

		    </tr>
		  </tbody>
		</table>
	</div>
</div>
